<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="appraisal">
                      <h4 class="title">Operating costs data</h4>
                      <button mat-raised-button color="red">Warn</button>
                 </div>     
                 <div class="row">

                      <div class="col-md-1"></div>   
                      
                      <div class="col-md-10">           
                    <div class="card-content table-responsive">
                       
                       
                      <table class="table table-hover">
                        <thead class="text-appraisal">
                          <tr>
                              <th></th>
                              <th></th>
                              <th colspan="3"><span style="padding-left:23% ;" >Range</span> </th>
                          </tr>
                          <tr>
                              <th></th>
                              <th>MED</th>
                              <th>LOW</th>
                              <th>Hight</th>                  
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let appraisal of appraisals"  >
                            <td >{{appraisal.value}}</td>
                            <td class="text">{{appraisal.med}} $</td>
                    
                            <td class="text">{{appraisal.low}} $</td>
                            <td class="text">{{appraisal.high}} $</td>
                          </tr> 
                          <tr >
                              <td class="text-danger" > <h4>TOTAL : </h4></td>
                              <td class="text-danger">261, 388 $</td>
                              <td class="text-danger">104, 444 $</td>
                              <td class="text-danger">506, 666 $</td>
                            </tr> 
                     </tbody>
                     </table>
                  </div>
              </div>
              <div class="col-md-1"></div>
                  </div>
              </div>
          </div>
        </div>
  </div>
</div>