.form-control::-webkit-input-placeholder { color: white !important; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white !important; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white !important; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white !important; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white !important; }  /* Microsoft Edge */