<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="appraisal">
                        <h4 class="title">Reports list</h4>
                   </div>     
                   <div class="row">

                        <div class="col-md-1"></div>   
                        
                        <div class="col-md-10">           
                      <div class="card-content table-responsive">
                         
                         
                        <table class="table table-hover">
                          <thead class="text-appraisal">
                       <tr>  
                           <th>Report Date</th>
                           <th>Property Name</th>
                           <th>Property Type</th>
                           <th>Zip Code</th>
                           <th>Address</th>
                           <th>Expenses Year</th>
                       </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let report of reports" > 
                                <td>{{report.reportDate}}</td>
                                <td>{{report.propertyName}}</td>
                                <td>{{report.propertyType}}</td>
                                <td>{{report.zipCode}}</td>
                                <td>{{report.Address}}</td>
                                <td>{{report.expensesYear}}</td>
                        </tr>
                       </tbody>
                       </table>
                    </div>
                </div>
                <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>