
  <!-- <ul class="nav nav-pills nav-justified">
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="zz">
        <a class="nav-link"  [routerLink]="['new-analysis']" >New Analysis</a>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="zz" >
        <a class="nav-link" [routerLink]="['new-property']">Property Characteristics</a>
      </li>
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="zz">
          <a class="nav-link" [routerLink]="['new-data-entry']" >Operating Expenses Data Entry</a>
        </li>
      <li class="nav-item" [routerLinkActiveOptions]="{exact:true}"  routerLinkActive="zz">
        <a class="nav-link" [routerLink]="['analysis']" >Operating Expenses - Analysis</a>
      </li>
    </ul>
    <br> -->
    <router-outlet></router-outlet>


<!-- <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup" style="background-color: red">
    <form>
      <ng-template matStepLabel color="warn">New Analysis</ng-template>
      
      <app-new-analysis #newAnalysisComponent></app-new-analysis>
     
    </form>
  </mat-step>
  
  <mat-step [stepControl]="secondFormGroup">
    <form>
      <ng-template matStepLabel>Property Characteristics</ng-template>
<app-new-property #newPropertyComponent></app-new-property>
 
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
      <form >
        <ng-template matStepLabel>Operating Expenses Data Entry</ng-template>
  <app-new-data-entry #newDataEntryComponent></app-new-data-entry>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="onOperatingExpensesDataEntry(stepper)" class="btn btn-appraisal">Save</button>
          <button mat-button class="btn btn-appraisal" (click)="openDialog()" >Add another year</button>
        </div>
      </form>
    </mat-step>
   
    <mat-step [stepControl]="fourthFormGroup">
        <form >
          <ng-template matStepLabel> Operating Expenses - Analysis</ng-template>
    <app-analysis #analysisComponent></app-analysis>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext matStepperNext class="btn btn-appraisal">Export PDF</button>
          </div>
        </form>
      </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()" matStepperNext class="btn btn-appraisal">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper> -->