<mat-toolbar style="width: 107.4%;">Add another year for a more accurate report</mat-toolbar>
<div class="contenu-blanc-avec-scroll">
   <div class="col-md-12 mx-auto">
        <form ngNativeValidate (ngSubmit)="onSubmit(user)">
           
            <div class="card-content">
                <h4 class="card-title"> Select a Year 
                  </h4>
                                    
      <mat-form-field style=" width: 80%;">
    <mat-select [(value)]="selected"  [(ngModel)]="operatingExpenses" name="operatingExpenses">
        <mat-option>None</mat-option>        
        <mat-option value="2012">2012</mat-option>
        <mat-option value="2013">2013</mat-option>
        <mat-option value="2014">2014</mat-option>
        <mat-option value="2015">2015</mat-option>
        <mat-option value="2016">2016</mat-option>
        <mat-option value="2017">2017</mat-option>
        <mat-option value="2018">2018</mat-option>
    </mat-select>
    </mat-form-field>

                <!-- <div class="form-group label-floating">
                    <input matInput type="texte" class="form-control" name="user.displayName" [(ngModel)]="user.displayName" required>
                </div> -->

          
                <div class="text-center">
                    <button type="submit" class="btn btn-appraisal btn-fill btn-wd" (click)="onGo(operatingExpenses)" >Go</button>
                </div>
                
            </div>
        </form>
    </div>