<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="appraisal">
                        <h4 class="title">Users List</h4>
                   </div>     
                   <div class="row">

                        <div class="col-md-1"></div>   
                        
                        <div class="col-md-10">           
                      <div class="card-content table-responsive">
                         
                         
                        <table class="table table-hover">
                          <thead class="text-appraisal">
                       <tr>  
                           <th>First Name</th>
                           <th>Last name</th>
                           <th>im</th>
                           <th>email</th>
                       </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let user of users" > 
                                        <td>{{user.firstName}}</td>
                                        <td>{{user.lastName}}</td>
                                        <td>{{user.im}}</td>
                                        <td>{{user.email}}</td>
                                    </tr>
                       </tbody>
                       </table>
                    </div>
                </div>
                <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>