
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header" data-background-color="appraisal">
                    <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                          <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="active">
                                  <a href="#profile" data-toggle="tab">
                                    login
                                  <div class="ripple-container"></div></a>
                              </li>
                              <li class="">
                                  <a href="#msg" data-toggle="tab">
                                    singup
                                  <div class="ripple-container"></div></a>
                              </li>
                 
                        
                          </ul>
                      </div>
                  </div>
                 </div>                
                 <div class="card-content">

                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table">
                                <tbody>
                                    <app-login></app-login>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="msg">
                            <table class="table">
                                <tbody>
                                    <app-signup></app-signup>
                                </tbody>
                            </table>
                        </div> </div>
     
                
              </div>
          </div>
          <div class="col-md-4"></div>
        </div>
  </div>
</div>

