<div class="main-content">
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
      <form>
                    
          <div class="row">
          <div class="col-md-12">
            <mat-form-field style=" width: 100%;">
                  <input matInput placeholder="Enter your email" [(ngModel)]="email" name="email" required>
                     </mat-form-field>
          </div>
          </div>
          <div class="row">
            <div class="col-md-12">
             <mat-form-field style=" width: 100%;">
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}} </mat-icon>
              </mat-form-field>
                <label href="#"><a class="text-info">Forgot your password?</a></label>
                <button class="btn btn-appraisal pull-right" (click)="login()" >Login</button>
                <br>
            </div>
          </div>
                  <div class="clearfix"><br>

                </div>
            </form>
  </div>

  <div class="col-md-1">
    
    </div>
</div>
          

  </div>