
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="appraisal">    
                        <h4 class="title">New Analysis</h4>                    
                   </div>                
                   <div class="card-content">
                    <form>
                      <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">   
                                  <mat-panel-title>
                                      Property Name
                                  </mat-panel-title>
                                  <mat-form-field style=" width: 100%;">
                                      <input matInput  [(ngModel)]="propertyCharacteristic.propertyName" name="propertyCharacteristic.propertyName"  >
                                 </mat-form-field>
                            </div>  
                          <div class="col-md-3"> 
                       
                          </div>
                    </div>
                    <br>
                    <br>
                    <br>

             
                          <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">   
                                    <mat-panel-title>   Property type

                                      </mat-panel-title>
                                       
                              <mat-form-field  class="appraisal" style=" width: 100%;">
                                <mat-select [(ngModel)]="propertyCharacteristic.propertyType" name="propertyCharacteristic.propertyType" >
                                  <mat-option *ngFor="let type of types" [value]="type.value">
                                    {{ type.viewValue }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>

                                  </div>  
                                <div class="col-md-3"> 
                             
                                </div>
                          </div>


                          <br>
                          <br>
                          <br>
                          <div class="row">
                       
                           
                              <div class="col-md-3"></div>
                                  
                              
                              <div class="col-md-6">   
                                    <mat-panel-title> 
                                      Year of Expense Data
                                    </mat-panel-title>
                                     
                      <mat-form-field style=" width: 100%;">
                    <mat-select [(ngModel)]="operatingExpenses.yearExpenseData" name="operatingExpenses.yearExpenseData" >
                        <mat-option>None</mat-option>
                        <mat-option value="2015">2015</mat-option>
                        <mat-option value="2016">2016</mat-option>
                        <mat-option value="2017">2017</mat-option>
                        <mat-option value="2018">2018</mat-option>
                        <mat-option value="2019">2019</mat-option>
                    </mat-select>
                    </mat-form-field>
                        
                            </div>  
                                    
                              <div class="col-md-3"></div>
                              </div>
    
     
                              <br>
                              <br>
                              <br>

                              <button (click)="onNewAnalysis(operatingExpenses, propertyCharacteristic)"  class="btn btn-appraisal" >Start</button>
     
                    </form>
                </div>
            </div>
          </div>
    </div>
  </div>
  
  <div class="card-content">
  
  
  
  </div>