<div class="main-content">
  <div class="row">
    <div class="col-md-12">

  
  <div class="container-fluid">
   
              <div class="card">                    
                  <div class="card-header" data-background-color="appraisal">    
                      <h4 class="title">Operating Expenses Data Entry</h4>    
                      <p class="category">Data for Year {{ operatingExpense.yearExpenseData }}</p>                
                 </div>                
          <div class="card-content">
            <div class="row">
              <div class="col-md-1"></div>
        <div class="col-md-10">
      
      <table class="table table-hover">
                <thead class="text-appraisal">
                        <tr>
                                        <th></th>
                                        <th></th>
                                        <th>$/SF</th>
                        </tr>
                    
                </thead>
               
   <tbody>
                   
                <tr style="background-color:#7b8d8e">
                <td>Effective Gross Income (EGI)</td> 
                <td><span><input  [(ngModel)]="operatingExpense.effectiveGrossIncome" name="operatingExpense.effectiveGrossIncome" ><i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                <td class="xxx">  {{ operatingExpense.effectiveGrossIncome / propertyCharacteristic.surface | currency}} </td>
                </tr>
    
                <tr>      
                <td>Administration</td> 
                <td><span><input [(ngModel)]="operatingExpense.administration" name="operatingExpense.administration" ><i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                <td class="xxx"> {{operatingExpense.administration / propertyCharacteristic.surface | currency}} </td>
        </tr>
                        
              <tr>
                      <td>Utilities</td>
                      <td><span><input [(ngModel)]="operatingExpense.utilities" name="operatingExpense.utilities" ><i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                      <td class="xxx"> {{operatingExpense.utilities / propertyCharacteristic.surface | currency}}</td>
              </tr>
              <tr>
                      <td>Payroll</td> 
                      <td> <span><input [(ngModel)]="operatingExpense.payroll" name="operatingExpense.payroll" > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                      <td class="xxx"> {{operatingExpense.payroll / propertyCharacteristic.surface | currency}} </td>
              </tr>
              <tr>
                      <td>Repairs and Maintenance</td> 
                      <td><span><input [(ngModel)]="operatingExpense.repairsMaintenance" name="operatingExpense.repairsMaintenance" > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                      <td class="xxx"> {{operatingExpense.repairsMaintenance / propertyCharacteristic.surface | currency}}</td>
              </tr>
              <tr>
                      <td>Cleaning & Janitorial</td> 
                      <td><span><input [(ngModel)]="operatingExpense.cleaningJanitorial" name="operatingExpense.cleaningJanitorial"  > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                      <td class="xxx"> {{operatingExpense.cleaningJanitorial / propertyCharacteristic.surface | currency}} </td>
              </tr>
              <tr>
                      <td>CAM</td>
                       <td><span><input [(ngModel)]="operatingExpense.cam" name="operatingExpense.cam" > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                       <td class="xxx"> {{operatingExpense.cam / propertyCharacteristic.surface | currency}}</td>
              </tr>
              <tr>
                      <td>Real Estate Taxes</td>
                       <td><span><input [(ngModel)]="operatingExpense.realEstateTaxes" name="operatingExpense.realEstateTaxes" > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                       <td class="xxx"> {{operatingExpense.realEstateTaxes / propertyCharacteristic.surface | currency}}</td>
              </tr>
              <tr>
                      <td>Insurance</td>
                       <td><span><input [(ngModel)]="operatingExpense.insurance" name="operatingExpense.insurance"  > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                       <td class="xxx"> {{operatingExpense.insurance / propertyCharacteristic.surface | currency }}</td>
              </tr>
              <tr>
                      <td>Replacement Reserves</td>
                       <td><span><input [(ngModel)]="operatingExpense.replacementReserves" name="operatingExpense.replacementReserves" > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                       <td class="xxx"> {{operatingExpense.replacementReserves / propertyCharacteristic.surface | currency }} </td>
              </tr>
                
              <tr style="background-color:#7b8d8e">
                      <td>Total All Expenses</td> 
                      <td><span><input  [(ngModel)]="operatingExpense.totalAllExpenses" name="operatingExpense.totalAllExpenses" > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                      <td class="xxx"> {{operatingExpense.totalAllExpenses / propertyCharacteristic.surface | currency }} </td>
              </tr>
              <tr style="background-color:#7b8d8e">
                      <td>Net Operating Inc. (NOI)</td>
                       <td><span><input [(ngModel)]="operatingExpense.netOperatingIncome" name="operatingExpense.netOperatingIncome" > <i class="material-icons" style="color:#eabb44; ">&#xE88E;</i></span></td>
                       <td class="xxx"> {{operatingExpense.netOperatingIncome / propertyCharacteristic.surface | currency }} </td>
              </tr>
        </tbody>
      </table>
        
      
       </div> 
      <div class="col-md-3">

        
      </div>

      <button (click)="onOperatingExpensesDataEntry(operatingExpense)"  class="btn btn-appraisal" >next</button>
        <button (click)="openDialog()"  class="btn btn-appraisal" >Add another year</button>
      
      <div class="col-md-1"></div>
      </div>
           
      </div>     
    </div>
  </div>
</div>

</div>
</div>