.BelowRange {
    background: #00b0f0 ;
}
.Median {
    background: #86bc64;
}
.AboveRange {
background: #ff0000;
}
.BelowMedian {
    background-color: #6f3;
}
.AboveMedian {
    background-color: #f5ce68;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{

    padding: 0px 0px !important;
}
