<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="appraisal">
                        <h4 class="title">Operating expenses - analysis</h4>
                   </div>     
                   <div class="row">

                        <div class="col-md-1"></div>   
                        
                        <div class="col-md-10">           
                      <div class="card-content table-responsive">
                         
                         
                        <table class="table table-hover">
                          <thead class="text-appraisal">
                            <tr style="text-transform: capitalize;">
                                <th></th>
                                <th></th>
                                <th>Absolute <br> Amount</th>
                                <th>$/SF</th>
                                <th>% of<br>Total<br>Expenses</th>
                                <th>% of<br>Effective<br>Gross Income</th>
                                <th></th>
                                <th></th>
                                <th>Med</th>
                                <th>Low</th>
                                <th>High</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td >Administration</td>
                              <td ></td>
                              <td > {{ operatingExpense.administration | currency }} </td>
                              <td > {{ operatingExpense.administration / operatingExpense.surface | currency }} </td>
                              <td > {{ operatingExpense.administration / operatingExpense.totalAllExpenses  | percent: '2.1-2' }}</td>
                              <td >{{ operatingExpense.administration / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                   
                              <td></td>
                              <td><span  class="btn BelowRange" style="width: 80%" >Below Range</span> </td>
                              <td class="text"> </td>
                              <td class="text"> </td>
                              <td class="text"> </td>
                            </tr> 
                            
                            <tr>
                                <td >Utilities</td>
                                <td ></td>
                                <td > {{ operatingExpense.utilities | currency }} </td>
                                <td > {{ operatingExpense.utilities  / operatingExpense.surface | currency }}</td>
                                <td >{{ operatingExpense.utilities  / operatingExpense.totalAllExpenses | percent: '2.1-2' }}</td>
                                <td >{{ operatingExpense.utilities / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                  
                                <td></td>
                                <td><span  class="btn BelowRange" style="width: 80%" >Below Range</span> </td>
                                <td class="text"> 12</td>
                                <td class="text"> 22</td>
                                <td class="text"> 22</td>
                              </tr> 
                            
                              <tr>
                                <td >Payroll</td>
                                <td ></td>
                                <td > {{ operatingExpense.payroll | currency }}</td>
                                <td > {{ operatingExpense.payroll  / operatingExpense.surface  | currency}}</td>
                                <td >{{ operatingExpense.payroll / operatingExpense.totalAllExpenses | percent: '2.1-2' }}</td>
                                <td >{{ operatingExpense.payroll / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                 
                                <td></td>
                                <td><span  class="btn Median" style="width: 80%" >Below Range</span> </td>
                                <td class="text"> 155</td>
                                <td class="text"> 22</td>
                                <td class="text"> 22</td>
                              </tr> 
                            
                              <tr>
                                <td >Repairs and Maintenance</td>
                                <td ></td>
                                <td > {{ operatingExpense.repairsMaintenance | currency }} </td>
                                <td > {{ operatingExpense.repairsMaintenance  / operatingExpense.surface | currency }}</td>
                                <td > {{ operatingExpense.repairsMaintenance / operatingExpense.totalAllExpenses | percent: '2.1-2'}}</td>
                                <td >{{ operatingExpense.replacementReserves / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                    
                                <td></td>
                                <td><span  class="btn Median" style="width: 80%" >Median</span> </td>
                                <td class="text">110</td>
                                <td class="text">22</td>
                                <td class="text">2</td>
                              </tr> 
                            
                              <tr>
                                <td >Cleaning & Janitorial</td>
                                <td ></td>
                                <td > {{operatingExpense.cleaningJanitorial | currency}} </td>
                                <td > {{operatingExpense.cleaningJanitorial / operatingExpense.surface  | currency}} </td>
                                <td >{{ operatingExpense.cleaningJanitorial / operatingExpense.totalAllExpenses | percent: '2.1-2' }}</td>
                                <td >{{ operatingExpense.cleaningJanitorial / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                   
                                <td></td>
                                <td><span  class="btn AboveMedian" style="width: 80%" >Above Median</span> </td>
                                <td class="text"> 11</td>
                                <td class="text"> 22</td>
                                <td class="text"> 22</td>
                              </tr> 
                            
                              <tr>
                                <td >CAM</td>
                                <td ></td>
                                <td > {{ operatingExpense.cam | currency }}</td>
                                <td > {{ operatingExpense.cam   / operatingExpense.surface | currency}}</td>
                                <td > {{ operatingExpense.cam  / operatingExpense.totalAllExpenses | percent: '2.1-2' }}</td>
                                <td >{{ operatingExpense.cam / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                     
                                <td></td>
                                <td><span  class="btn BelowMedian" style="width: 80%" >Below Median</span> </td>
                                <td class="text">1158</td>
                                <td class="text">22</td>
                                <td class="text">22</td>
                              </tr> 
                            
                              <tr>
                                <td >Real Estate Taxes</td>
                                <td ></td>
                                <td > {{ operatingExpense.realEstateTaxes | currency }}</td>
                                <td > {{ operatingExpense.realEstateTaxes / operatingExpense.surface  | currency }}</td>
                                <td >{{ operatingExpense.realEstateTaxes / operatingExpense.totalAllExpenses | percent: '2.1-2' }}</td>
                                <td >{{ operatingExpense.realEstateTaxes / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                
                                <td></td>
                                <td><span  class="btn AboveMedian" style="width: 80%" >Above Median</span> </td>
                                <td class="text"> 65</td>
                                <td class="text"> 22</td>
                                <td class="text"> 22</td>
                              </tr> 
                            
                              <tr>
                                <td >Insurance</td>
                                <td ></td>
                                <td > {{ operatingExpense.insurance | currency}}</td>
                                <td > {{ operatingExpense.insurance / operatingExpense.surface  | currency}}</td>
                                <td >{{ operatingExpense.insurance / operatingExpense.totalAllExpenses | percent: '2.1-2' }}</td>
                                <td >{{ operatingExpense.insurance / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                      
                                <td></td>
                                <td><span  class="btn Median" style="width: 80%" >Median</span> </td>
                                <td class="text"> 65</td>
                                <td class="text"> 22</td>
                                <td class="text"> 22</td>
                              </tr> 
                            
                              <tr>
                                <td >Replacement Reserves</td>
                                <td ></td>
                                <td >{{ operatingExpense.replacementReserves | currency }}</td>
                                <td >{{ operatingExpense.replacementReserves  / operatingExpense.surface  | currency}}</td>
                                <td >{{ operatingExpense.replacementReserves / operatingExpense.totalAllExpenses | percent: '2.1-2' }}</td>
                                <td >{{ operatingExpense.replacementReserves / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>                      
                                <td></td>
                                <td><span  class="btn BelowRange" style="width: 80%" >Below Range</span> </td>
                                <td class="text"> 65</td>
                                <td class="text"> 22</td>
                                <td class="text"> 22</td>
                              </tr> 
                                       
                            <tr >
                                <td class="text-danger" > <h4>TOTAL : </h4></td>
                                <td></td>
                                <td class="text-danger">{{ ConvertToInt(operatingExpense.administration) + ConvertToInt(operatingExpense.utilities) +        ConvertToInt(operatingExpense.payroll) + ConvertToInt(operatingExpense.repairsMaintenance) + ConvertToInt(operatingExpense.cleaningJanitorial) + ConvertToInt(operatingExpense.cam) + ConvertToInt(operatingExpense.realEstateTaxes) + ConvertToInt(operatingExpense.insurance) +
                                  ConvertToInt(operatingExpense.replacementReserves) | number }}</td>
                                <td class="text-danger">{{ ConvertToInt(operatingExpense.administration) + ConvertToInt(operatingExpense.utilities) +        ConvertToInt(operatingExpense.payroll) + ConvertToInt(operatingExpense.repairsMaintenance) + ConvertToInt(operatingExpense.cleaningJanitorial) + ConvertToInt(operatingExpense.cam) + ConvertToInt(operatingExpense.realEstateTaxes) + ConvertToInt(operatingExpense.insurance) +
                                  ConvertToInt(operatingExpense.replacementReserves) / operatingExpense.surface  | currency }} </td>
                                <td class="text-danger">{{ ConvertToInt(operatingExpense.administration) + ConvertToInt(operatingExpense.utilities) +        ConvertToInt(operatingExpense.payroll) + ConvertToInt(operatingExpense.repairsMaintenance) + ConvertToInt(operatingExpense.cleaningJanitorial) + ConvertToInt(operatingExpense.cam) + ConvertToInt(operatingExpense.realEstateTaxes) + ConvertToInt(operatingExpense.insurance) +
                                  ConvertToInt(operatingExpense.replacementReserves) / operatingExpense.totalAllExpenses | percent: '2.1-2'  }}</td>
                                <td class="text-danger">{{ ConvertToInt(operatingExpense.administration) + ConvertToInt(operatingExpense.utilities) +        ConvertToInt(operatingExpense.payroll) + ConvertToInt(operatingExpense.repairsMaintenance) + ConvertToInt(operatingExpense.cleaningJanitorial) + ConvertToInt(operatingExpense.cam) + ConvertToInt(operatingExpense.realEstateTaxes) + ConvertToInt(operatingExpense.insurance) +
                                  ConvertToInt(operatingExpense.replacementReserves) / operatingExpense.effectiveGrossIncome | percent: '2.1-2' }}</td>
                                <td></td>
                                <td></td>
                                <td class="text-danger">1,388</td>
                                <td class="text-danger">56,233</td>
                                <td class="text-danger">5,61</td>

                              </tr> 
                       </tbody>
                       </table>

                    <button type="submit"  class="btn btn-appraisal pull-right" (click)="test()">Export PDF</button>
                    </div>

                </div>
                <div class="col-md-1"></div>
                    </div>

                </div>
            </div>
          </div>
    </div>
  </div>