<p>
  list-mydata works!
</p>


<ul>
  <li *ngFor="let data of dataObservable | async" >
    

    {{data.effectiveGrossIncome}}
    {{data.administration}}
    {{data.utilities}}
    {{data.payroll}}
    {{data.repairsMaintenance}}
    {{data.cleaningJanitorial}}
    {{data.cam}}
    {{data.realEstateTaxes}}
    {{data.insurance}}
    {{data.replacementReserves}}
    {{data.totalAllExpenses}} 
    {{data.netOperatingIncome}}
    {{data.yearExpenseData}}
  </li>
</ul>