<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="appraisal">
                        <h4 class="title">Properties list</h4>
                        <p class="category cursorRight"  [routerLink]="'/PropertyManager2'">Add new Property<i class="material-icons" >add_circle</i></p>
                   </div>     
                   <div class="row">

                        <div class="col-md-1"></div>   
                        
                        <div class="col-md-10">           
                      <div class="card-content table-responsive">
                         
                         
                        <table class="table table-hover">
                          <thead class="text-appraisal">
                            <tr>
                                <th>Property Name</th>
                                <th>Property type</th>
                                <th>Property sub-type</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Zip Code</th>
                        
                            </tr>
                        </thead>    
                        <tbody>
                            <tr>
                              <td class="text">Property 1</td>
                              <td class="text">building</td>
                              <td class="text">building</td>
                              <td class="text">7363 woodrow wilson dr</td>
                              <td class="text">boulder</td> 
                              <td class="text">80202</td>
                            </tr> 
                            <tr>
                                <td class="text">Property 2</td>
                                <td class="text">building</td>
                                <td class="text">building</td>
                                <td class="text">12 McClane Street</td>
                                <td class="text">lakewood</td>
                                <td class="text">80080</td>
                              </tr> 

                            <tr>
                                <td class="text">Property 3</td>
                                <td class="text">Land</td>
                                <td class="text">building</td>
                                <td class="text">6845 woodrow dr</td>
                                <td class="text">denver</td>
                                <td class="text">80302</td>
                              </tr> 
                       </tbody>
                       </table>
                    </div>
                </div>
                <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>