<div class="wrapper" >
                <div class="sidebar" data-color='appraisal'  data-image="">
                    <app-sidebar  *ngIf="nav.visible"></app-sidebar>
                </div>
                <div class="main-panel">
                     <app-navbar  *ngIf="nav.visible"></app-navbar>
                    <router-outlet ></router-outlet>
            
                </div>
            </div>  
            