
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                           
                   <div class="card-content">
                    <div><img src="../../assets/404.jpg" ></div>
      </div>

                
            </div>
          </div>
    </div>
  </div>