<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="appraisal">    
                        <h4 class="title">Property Characteristics</h4>                    
                   </div>                
                   <div class="card-content">
                      <div class="row">
                        <form>
                          <div class="col-md-1"></div>
                        <div class="col-md-10">

           <div class="row">

        
             <div class="col-md-6">
    
          <div class="row">
            <div class="col-md-12">
                <mat-form-field style=" width: 100%;">
                    <mat-select placeholder="Property sub-type" [(ngModel)]="propertyCharacteristic.propertySubType" name="propertyCharacteristic.propertySubType">
                            <mat-option *ngFor="let type of subtypes" [value]="type.value">
                              {{ type.viewValue }}
                            </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <mat-form-field style=" width: 100%;">
                      <input matInput placeholder="Address" [(ngModel)]="propertyCharacteristic.address" name="propertyCharacteristic.address">
                </mat-form-field>
              </div>
            </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field style=" width: 100%;">
                    <mat-select placeholder="Zip Code"  [(value)]="selected" [(ngModel)]="propertyCharacteristic.zipCode" name="propertyCharacteristic.zipCode">
                      <mat-option *ngFor="let code of codes" [value]="code.value" >
                        {{ code.viewValue }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

             </div>
             <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                  <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
              </div>
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-12">
                          <h5 class="text-muted"> City : {{propertyCharacteristic.city}}</h5>                         
                      </div>                     
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <h5 class="text-muted"> MSA : {{propertyCharacteristic.msa}}</h5>                         
                            </div>                     
                          </div>
                </div>
            </div>
          </div>
          </div>
           
           <div class="row">
        
                  <div class="row">
                      <div class="col-md-12">
                          <mat-form-field style=" width: 100%;">
                              <input matInput placeholder="GBA" [(ngModel)]="propertyCharacteristic.gba" name="propertyCharacteristic.gba">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                          <mat-form-field style=" width: 100%;">
                              <input matInput placeholder="NRA" [(ngModel)]="propertyCharacteristic.nra" name="propertyCharacteristic.nra">
                        </mat-form-field>
                      </div>
                    </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field style=" width: 100%;">
                            <input matInput placeholder="Number of Units" [(ngModel)]="propertyCharacteristic.numberUnit" name="propertyCharacteristic.numberUnit">
                      </mat-form-field>
        
                    </div>
                    <div class="col-md-6">
                        <mat-form-field style=" width: 100%;">
                            <input matInput placeholder="Average Unit Size" [(ngModel)]="propertyCharacteristic.averageUnitSize" name="propertyCharacteristic.averageUnitSize">
                      </mat-form-field>
        
                    </div>
                </div>
                       
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field style=" width: 100%;">
                            <input matInput placeholder="Rentable Area" [(ngModel)]="propertyCharacteristic.rentableArea" name="propertyCharacteristic.rentableArea">
                      </mat-form-field>
        
                    </div>
                    <div class="col-md-6">
                        <mat-form-field style=" width: 100%;">
                            <input matInput placeholder="Number of Tenants" [(ngModel)]="propertyCharacteristic.numberTenants" name="propertyCharacteristic.numberTenants">
                      </mat-form-field>
        
                    </div>
                </div>             
                <div class="row">                  
                    <div class="col-md-6">
                        <mat-form-field style=" width: 100%;">
                            <input matInput placeholder="YOC" [(ngModel)]="propertyCharacteristic.yoc" name="propertyCharacteristic.yoc">
                      </mat-form-field>                  
                  </div>
                  <div class="col-md-6">
                      <mat-form-field style=" width: 100%;">
                          <mat-select placeholder="Investment Class" [(ngModel)]="propertyCharacteristic.investmentClass" name="propertyCharacteristic.investmentClass" >
                            <mat-option *ngFor="let investment of investments" [value]="investment.value">
                              {{ investment.viewValue }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                </div>
              <div class="row">
                  <div class="col-md-6">
                      <mat-form-field style=" width: 100%;">
                          <input matInput placeholder="Year Built" [(ngModel)]="propertyCharacteristic.yearBuilt" name="propertyCharacteristic.yearBuilt">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <mat-form-field style=" width: 100%;">
                          <input matInput placeholder="Year of Most Renovation" [(ngModel)]="propertyCharacteristic.yearMostRenovation" name="propertyCharacteristic.yearMostRenovation">
                    </mat-form-field>
                  </div>
                </div>
                  
            </div>
             </div>
             
             <div class="col-md-1"></div>

             <button (click)="onPropertyCharacteristics(propertyCharacteristic)"  class="btn btn-appraisal" >next</button>
     
            </form>
          </div>
        
        </div>
    </div>
    </div>
            </div>
          </div>
    </div>
