<div class="main-content">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form  #formsearch="ngForm">

        <div class="row">
          <div class="col-md-12">
           <mat-form-field class="width">
                  <input matInput placeholder="First Name" [(ngModel)]="user.firstName" name="user.firstName">
            </mat-form-field>
          </div>
        </div>
          <div class="row">
            <div class="col-md-12">
            <mat-form-field class="width">
                    <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" name="user.lastName">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <mat-form-field class="width">
                      <mat-select placeholder="I’m a ..."  >
                        <mat-option *ngFor="let job of jobs" [value]="job.value">
                          {{ job.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="width">
                        <input matInput placeholder="Enter your email"  [(ngModel)]="user.email" name="user.email" required>
                  </mat-form-field>
                </div>
                </div>
    
                   <div class="row">
                          <div class="col-md-12">
                           <mat-form-field style=" width: 100%;">
                                  <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" >
                                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}} </mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                             <mat-form-field style=" width: 100%;">
                                    <input matInput placeholder="Password confirmation" [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}} </mat-icon>
                              </mat-form-field>
                              <button type="submit" class="btn btn-appraisal pull-right" (click)="onSinup()" >Sign up</button>
                            </div>
                        </div>
    
      
          <div class="clearfix"></div>
      </form>
    </div>
    <div class="col-md-1"></div>
</div>
  

</div>