.sidebar .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 18px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-top: 13px;
    position: absolute;
    right: 18px;
}
.sidebar li.active>a {
    background-color: #fff;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px hsla(0,0%,100%,.4);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px hsla(0,0%,100%,.4);
}
.sidebar-mini {
    text-transform: uppercase;
    width: 30px;
    margin-right: 15px;
    float: left;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    display: inherit;
}
.customNav {
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar .nav li.notactive a{
    background-color: #fefefd00;
}

li .notactive > a {
    background-color: #fefefd00;
    -webkit-box-shadow: 0 12px 20px -10px rgba(132, 123, 123, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(151, 135, 134, 0);
    box-shadow: 0 0px 0px -4px rgba(132, 123, 123, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(151, 135, 134, 0);
}

li .active > a {
    background-color: #6d8794;
    -webkit-box-shadow: 0 12px 20px -10px rgb(67,84,92), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
    box-shadow: 0 12px 20px -10px rgb(67,84,92), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.btn-group.bootstrap-select.open .caret, .dropdown.open .caret, .dropup.open .caret, a[data-toggle=collapse][aria-expanded=true] .caret {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.btn-group.bootstrap-select.open .caret, .dropdown.open .caret, .dropup.open .caret, a[data-toggle=collapse1][aria-expanded=true] .caret {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}