<div class="logo"  >
    <a href="" class="simple-text">
   
        <span style="          font-family: -webkit-pictograph;
        font-size: 188%;
        Font-Weight: Bold;">Procost</span> 
     <!-- <div> <img src="../assets/logo.gif"></div>  -->
    </a>
</div>
<div class="sidebar-wrapper"   >
 

    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
     
       
        <li>
            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
               <i class="material-icons">person</i>
               <p class="hidden-lg hidden-md">Profile</p>
            </a>
        </li>
    </ul>

    <!-- <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                 <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
            <hr style="border-color: #434446; width: 80%">
       
  </ul>  

       

                       
    </div> -->



    <div class="nav-container">
        
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems; let i = index" class="{{menuItem.class}}">
                <a data-toggle="collapse" href="#components{{i}}" class="collapse" aria-expanded="false" *ngIf="menuItem.submenu">
                    <!-- <i class="material-icons">{{menuItem.icon}}</i> -->
                    <p>{{menuItem.title}}<b class="caret"></b></p>
                </a>
                <div class="collapse" id="components{{i}}" aria-expanded="false" *ngIf="menuItem.submenu">
                    <ul class="nav customNav" >
                        <li routerLinkActive="active" *ngFor="let menuSubItem of menuItem.submenu" class="{{menuSubItem.class}}">
                            <a [routerLink]="[menuSubItem.path]" >
                                  <!-- <span><i class="material-icons">{{menuSubItem.icon}}</i></span> -->
                                  
                                <span class="sidebar-mini">{{menuSubItem.mini}}</span>
                                <span class="sidebar-normal">{{menuSubItem.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <a [routerLink]="[menuItem.path]" *ngIf="!menuItem.submenu">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>


    </div>

</div>
