<div class="card">



  <div *ngIf="lat && lng">
    <agm-map [latitude]="lat" [longitude]="lng" >
      <agm-marker  [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <h3><strong>hello</strong></h3>
        <p>dadadad adadadada</p>
        </agm-info-window>
    
      </agm-marker>
    
    </agm-map>
    
    </div>

</div>
